# Created by .ignore support plugin (hsz.mobi)
# The file containing environment variables
.env

# Ignore IDE specific files
.idea
.idea/
/.idea/
.vscode/
*.sw*

!/Homeworks/Test/
!/Lessons/less03_flask/venv/
